*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box {
  box-sizing: content-box
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  margin: 0;
  padding: 0;

  color: #000000;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

h1.catalog-h1 {
  margin: 0;
  font-size: 55px;
  font-weight: 500;
  text-align: center;
  background-color: #eeeeee;
  padding-top: 64px;
  padding-bottom: 96px;

  /* временно для сетки */
  background-color: transparent;
}

.button {
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:active span {
  opacity: 0.3;
}

/* header */
.main-header {
  margin: 0;
  padding: 0;
  padding-top: 49px;
  background-color: #eeeeee;
  margin-bottom: 18px;

  /* временно для сетки */
  background-color: transparent;
}

.site-navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 202px;
  padding-right: 245px;
  width: 100%;
  justify-content: space-between;
  /* временно для сетки */
}

.site-navigation-item {
  margin-top: 10px;
}

.main-header-logo {
  margin: 0;
  min-width: 160px;
  min-height: 65px;
}

.main-header-logo:hover {
   opacity: 0.8;
}

.main-header-logo:active {
   opacity: 0.3;
}

.main-navigation a {
  padding: 0;
  margin: 0;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation-item a {

}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.active-page {
  padding-bottom: 10px;
  border-bottom: 2px solid #fb565a;
}

.main-header-cart {
  margin-left: auto;
  padding-top: 10px;
}

.write-us-popup {
  display: none;
}

/* slider */
.slider {

}

.slide-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide {
}

.slide-info {
  display: flex;
  flex-direction: column;
}

.slide-1 .slide-info {
  width: 380px;
}

.slide-2 .slide-info {
  width: 520px;
}

.slide-3 .slide-info {
  width: 410px;
}

.slide-title {
  margin: 0;
  padding: 0;
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 28px;

  /* временно для сетки */
  min-height: 106px;
  min-width: 376px;
}

.slide-1 .slide-title {
  margin-top: 60px;
}

.slide-2 .slide-title {
  margin-top: 60px;
}

.slide-3 .slide-title {
  margin-top: 60px;
}

.slide-description {
  margin: 0;
  padding: 0;
  color: #283136;
  font-size: 16px;
  font-weight: 400;

  /* временно для сетки */
  min-height: 40px;
  /*min-width: 361px;*/
}

.slide-1 .slide-description {
  width: 361px;
}

.slide-2 .slide-description {
  width: 410px;
}

.slide-3 .slide-description {
  width: 345px;
}

.slide-more-info-button {
  margin: 0;
  margin-top: 38px;
  padding: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  background-color: #fb565a;
  display: flex;
  width: 140px;
  height: 50px;

  /* временно для сетки */
  min-width: 240px;
  min-height: 50px;
}

.slide-more-info-button span {

}

.slide-more-info-button:hover {
  background-color: #e74246;
}

.slide-more-info-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.slide-more-info-button:active span {
  opacity: 0.3;
}

.slide-img {

}

.slide-switch-button-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

 /* services */
.services {
  background-color: #ffffff;
  border-bottom: 2px solid #eeeeee;

  /* временно для сетки */
  min-height: 507px;
  /* временно для сетки */
  background-color: transparent;
}

.service-list {
  list-style: none;
  margin: 0;
  padding: 80px 0;
  display: flex;

  /* временно для сетки */
  background-color: transparent;
}

.service {
  width: 300px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;

  /* временно для сетки */
  margin-top: 146px;
}

.service:last-child {
  margin-right: 0;
}

.service h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.service p {
  color: #283136;
  font-size: 16px;
  font-weight: normal;
}

.service-button {
  color: #ffffff;
  font-weight: 500;
  width: 160px;
  height: 50px;
}

.service .order-web-site {
  background-color: #fb565a;
}

.service .order-web-site:hover {
  width: 160px;
  background-color: #e74246;
}

.service .order-web-site:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.service .order-app {
  background-color: #00ca74;
}

.service .order-app:hover {
  background-color: #00bc6c;
}

.service .order-app:active {
   box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
}

.service .order-presentation {
  background-color: #efc84a;
}

.service .order-presentation:hover {
  background-color: #eab534;
}

.service .order-presentation:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
}

/* о нас и статистика */
.about-us-and-stats {
  display: flex;
  border-bottom: 2px solid #eeeeee;
  /* временно для сетки */
  min-height: 525px;
}

/*  about us */
.about-us {
  background-color: #ffffff;
  width: 660px;
  padding: 40px 0px;

  /* временно для сетки */
  background-color: transparent;
}

.about-us ul {
  list-style: none;
}

.about-us .title {
  font-size: 45px;
  font-weight: 500;
}

.about-us .description {
  color: #283136;
  font-weight: 400;
}

.about-us .our-services {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-us ul {
  list-style: none;
}

.about-us li {
  font-weight: 400;
}

/* statistics */

.statistics {
  margin-left: auto;
  width: 360px;
  display: flex;
  flex-direction: column;

  /* временно для сетки */
  padding-top: 250px;
}

.statistics-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}

.statistics-title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.stat-param-value {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
}

.stat-param-value span {
  vertical-align: super;
  font-size: 24px;
}

.stat-param-name {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
}

/* clients */
.clients {
  border-bottom: 2px solid #eeeeee;

  /* временно для сетки */
  min-height: 180px;
}

.client-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 43px;
  padding-left: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients img {
  opacity: 0.2;
}

.clients img:hover {
  opacity: 1.0;
}

.clients img:active {
  opacity: 0.1;
}

/* footer */
.footer {
  display: flex;

}

.footer-social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 260px;
}

.footer-info {
  margin-left: 139px;
}

.footer-lets-be-friend {
  font-size: 36px;
  font-weight: 700;
}

.footer-discount {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

/* filter */
.filter {
  width: 261px;
}

.filter fieldset {
  border: none;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter legend {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter label {
  color: #283136;
  font-weight: 400;
}

.filter label:hover {
  color: #283136;
}

.filter label:active {
  opacity: 0.3;
}

.filter .search {
  font-weight: 500;
  background-color: #eeeeee;
}

.filter .search:hover {
  font-weight: 500;
  background-color: #dfdfdf;
}

.filter .search:active {
  font-weight: 500;
  background-color: #d5d5d5;
}

.catalog-data-column {
  display: flex;
  flex-direction: column;
  width: 760px;
}

/* sorting */
.sorting {
  display: flex;
}

.sorting h2 {
  font-size: 18px;
  font-weight: 700;
}

.sort-param {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 285px;
}

.sort-param a {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-param a:hover {
  opacity: 0.6;
}

.sort-param a:active,
.sort-param .active{
  opacity: 1.0;
}

.sort-direction {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

/* catalog */
.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  margin-right: 40px;
  margin-bottom: 33px;
  width: 360px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-info {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-item-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-item-name:hover {
  color: #fb565a;
}

.catalog-item-name:active {
  color: #000000;
  opacity: 0.3;
}

.catalog-item-info p {
  color: #666666;
  font-weight: 400;
}

.catalog-item-info .price-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #fb565a;
  width: 200px;
  height: 50px;
}

.catalog-item-info .price-button:hover {
  background-color: #e74246;
}

.catalog-item-info .price-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

/* pagination */
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.pagination .button {
  font-weight: 500;
  background-color: #eeeeee;
}

.pagination .button:hover {
  background-color: #dfdfdf;
}

.pagination .button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination .active,
.pagination .active:hover {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

/* map */
.map {

  /* временно для сетки */
  min-height: 496px;
}

.map-info {
  display: flex;
  flex-direction: column;
  padding: 54px 50px 47px 50px;
  background-color: white;
  width: 319px;
  height: 308px;
}

.map .company-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.map .address,
.map .phone{
  color: #666666;
  font-weight: 400;
}

.map .write-us-button {
  width: 219px;
  height: 50px;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
}

.map .write-us-button:hover {
  background-color: #e74246;
}

.map .write-us-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}


/* сетка */

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  display: flex;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.slider-wrapper {
  margin: 0;
  background-color: #eeeeee;

  /* временно для сетки */
  background-color: transparent;
  min-height: 413px;
}

