*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: content-box;
}

.content-box {
  box-sizing: content-box
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;

  color: #000000;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

h1.catalog-h1 {
  margin: 0;
  padding: 75px 0 103px;
  font-size: 55px;
  font-weight: 500;
  text-align: center;
  background-color: #eeeeee;

  /* временно для сетки */
  background-color: transparent;

}

.button {
  display: inline-block;
  border-style: none;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 0;
  border-radius: 3px;
  height: 50px;
  outline: none;
}

/* header */
.main-header {
  margin: 0;
  padding: 0;
  padding-top: 49px;
  background-color: #eeeeee;

  /* временно для сетки */
  background-color: transparent;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-right: 45px;
  margin-top: 17px;
  padding: 0;
  width: 438px;
  justify-content: space-between;
}

.main-header-logo {
  margin: 0;
  padding: 0;
  min-width: 160px;
  min-height: 65px;
  display: block;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation-item {
  color: #000000;
  text-transform: uppercase;
}

.site-navigation-item:hover,
.main-header-cart:hover span {
  color: #fb565a;
}

.site-navigation-item:active,
.main-header-cart:active span {
  color: #000000;
  opacity: 0.3;
}

.active-page,
.active-page:hover,
.active-page:active {
  color: #000000;
  padding-bottom: 10px;
  border-bottom: 2px solid #fb565a;
}

.main-header-cart {
  position: relative;
  margin-top: 17px;
  padding-left: 40px;
  color: #000000;
  text-transform: uppercase;
}

.main-header-cart::before,
.main-header-cart:hover::before,
.main-header-cart:active::before {
  content: "";
  position: absolute;
  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  top: 2px;
  left: 0;
}

/* popup */

.modal {
  display: none;
  position: fixed;
}

.modal-close-button {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 78px;
  right: 90px;

  border: 0;
  cursor: pointer;

  outline: none;

  background-color: transparent;
}

.modal-close-button::before,
.modal-close-button::after {
  position: absolute;
  content: "";
  top: 9px;
  left: 2px;
  width: 25px;
  height: 3px;
  background-color: #fb565a;
  background-position: 0 0;
  opacity: 0.3;
}

.modal-close-button:hover,
.modal-close-button:hover {
  opacity: 1.0;
}

.modal-close-button::before {
  transform: rotate(45deg);
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.modal-close-button::before,
.modal-close-button:after {

}

.modal-write-us {
  /*display: block;*/
  box-sizing: border-box;
  z-index: 100;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);

  width: 960px;
  padding: 68px 100px 84px;

  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  background-color: #ffffff;

  /* временно */
  /*background-image: url("../img/write_us_modal.png");*/
  /*background-repeat: no-repeat;*/
  /*background-position: 100px 73px;*/
}

.modal-write-us h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.write-us-form-fields {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.write-us-form-field {
  margin: 0;
  margin-top: 34px;
  margin-right: 40px;
  padding: 0;
}

.write-us-form-field:nth-child(2n) {
  margin-right: 0;
}

.modal-write-us label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 9px;
}

.modal-write-us input,
.modal-write-us textarea {
  border: 2px solid #d7dcde;
  padding-left: 16px;
  border-radius: 3px;
}

.modal-write-us input::placeholder,
.modal-write-us textarea::placeholder {
  color: #444444;
  opacity: 0.5;
}

.modal-write-us input:hover,
.modal-write-us textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal-write-us input:focus,
.modal-write-us textarea:focus {
  border: 2px solid #000000;
  outline: none;
}

.modal-write-us .write-us-invalid-value,
.modal-write-us .write-us-invalid-value:hover,
.modal-write-us .write-us-invalid-value:focus {
  border: 2px solid #e74246;
  color: #e74246;
}

.modal-write-us input[type = 'text'] {
  width: 360px;
  height: 50px;
}

.write-us-comment {
  width: 760px;
  height: 118px;
  padding-top: 14px;
}

.modal-write-us-send-button {
  display: block;
  width: 260px;
  background-color: #fb565a;
  color: #ffffff;
  margin-top: 42px;
}

.modal-write-us-send-button:hover {
  background-color: #e74246;
}

.modal-write-us-send-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

/* slider */
.slider {
  position: relative;
  background-color: #eeeeee;

  /* впемееер */
  background-color: transparent;
}

.slide-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
  padding-top: 78px;
  padding-bottom: 80px;
}

.slide-title {
  margin: 0;
  padding: 0;
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 27px;
  line-height: 55px;
  max-width: 520px;
}

.slide-description {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 420px;
}

.slide-more-info-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  background-color: #fb565a;
  min-width: 240px;
  min-height: 50px;
  max-width: 400px;
}

.slide-more-info-button:hover,
.slide-more-info-button:focus {
  background-color: #e74246;
}

.slide-more-info-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.slide:nth-child(1) {
  display: block;
  background-image: url("../img/slider/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slide:nth-child(2) {
  /*display: block;*/
  background-image: url("../img/slider/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

.slide:nth-child(3) {
  /*display: block;*/
  background-image: url("../img/slider/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 18px;
}

.slider-controls {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 86px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.slider-control-item {
  position: relative;
  cursor: pointer;
  padding: 18px;
}

.slider-control-item::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  left: 9px;
  top: 9px;
  border-radius: 50%;
  z-index: 1;
}

/* services */
.services {
  background-color: #ffffff;
  border-bottom: 2px solid #eeeeee;
  padding: 80px 0;

  /* временно для сетки */
  min-height: 507px;
  /* временно для сетки */
  background-color: transparent;
}

.service-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  display: flex;

  /* временно для сетки */
  background-color: transparent;
}

.service {
  position: relative;
  width: 300px;
  margin-right: 100px;
  padding-top: 173px;
}

.service:last-child {
  margin-right: 0;
}

.service h3 {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.service p {
  color: #283136;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
  font-weight: 400;
}

.service-button {
  color: #ffffff;
  font-weight: 500;
  width: 160px;
}

.service-order-web-site::before {
  content: "";
  width: 300px;
  height: 146px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/services/web-sites.jpg");
  background-repeat: no-repeat;
}

.service-order-app::before {
  content: "";
  width: 300px;
  height: 146px;
  left: 0;
  top: 0;
  position: absolute;
  background-image: url("../img/services/apps.jpg");
  background-repeat: no-repeat;
}

.service-order-presentation::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 146px;
  left: 0;
  top: 0;
  background-image: url("../img/services/presentations.jpg");
  background-repeat: no-repeat;
}

.service-order-web-site-button {
  width: 160px;
  background-color: #fb565a;
}

.service-order-web-site-button:hover,
.service-order-web-site-button:focus {
  background-color: #e74246;
}

.service-order-web-site-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.service-order-app-button {
  background-color: #00ca74;
}

.service-order-app-button:hover,
.service-order-app-button:focus {
  background-color: #00bc6c;
}

.service-order-app-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.service-order-presentation-button {
  background-color: #efc84a;
}

.service-order-presentation-button:hover,
.service-order-presentation-button:focus {
  background-color: #eab534;
}

.service-order-presentation-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

/* о нас и статистика */
.about-us-and-stats {
  display: flex;
  border-bottom: 2px solid #eeeeee;
}

/*  about us */
.about-us {
  background-color: #ffffff;
  width: 660px;
  padding: 78px 0 74px;

  /* временно для сетки */
  background-color: transparent;
}

.about-us ul {
  list-style: none;
}

.about-us-title {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-us-description {
  color: #283136;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 37px;
}

.about-us-our-services {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
}

.about-us-our-service-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us-our-service-list li {
  position: relative;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  padding-left: 36px;
}

.about-us-our-service-list li::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  left: 0;
  top: 50%;
  background-color: #fb565a;
}

/* statistics */

.statistics {
  position: relative;
  margin-left: auto;
  width: 360px;
  padding-top: 289px;
  padding-bottom: 74px;
}

.statistics::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 208px;
  top: 43px;
  left: 0;
  background-image: url("../img/stats.png");
  background-repeat: no-repeat;
}

.statistics-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.statistics-item {
  width: 120px;
  padding-top: 42px;
}

.statistics-title {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.stat-param-value {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  color: #000000;
  font-size: 45px;
  font-weight: 700;
}

.stat-param-value span {
  vertical-align: super;
  font-size: 24px;
}

.stat-param-name {
  padding: 0;
  margin: 0;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
}

/* clients */
.clients {
  border-bottom: 2px solid #eeeeee;

}

.client-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.clients img {
  opacity: 0.2;
  display: block;
}

.clients img:hover {
  opacity: 1.0;
}

.clients img:active {
  opacity: 0.1;
}

.client-item {
  position: relative;
  margin-right: 40px;
}

.client-item:nth-child(4n) {
  margin-right: 0;
}

.client-item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  left: 280px;
  top: 63px;
  background-color: #eeeeee;
}

.client-item:nth-child(4n)::after {
  content: "";
  width: 0;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  min-height: 217px;
}

.footer-social {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  padding-top: 69px;
}

.footer-social-button {
  display: block;
  position: relative;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;;
  margin-right: 11px;
  border-radius: 50%;
}

.footer-social-button:hover {
  background-color: #e74246;
}

.footer-social-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.footer-social-button::before {
  content: "";
  position: absolute;
}

.footer-social-button:active::before {
  opacity: 0.3;
}


.footer-social-button-vk::before {
  background-image: url("../img/icons/social/vk.svg");
  width: 26px;
  height: 15px;
  top: 50%;
  margin-left: -13px;
  left: 50%;
  margin-top: -7px;
}

.footer-social-button-fb::before {
  background-image: url("../img/icons/social/fb.svg");
  width: 12px;
  height: 22px;
  top: 50%;
  margin-left: -6px;
  left: 50%;
  margin-top: -11px;
}

.footer-social-button-inst::before {
  background-image: url("../img/icons/social/insta.svg");
  width: 21px;
  height: 21px;
  top: 50%;
  margin-left: -11px;
  left: 50%;
  margin-top: -11px;
}

.footer-info {
  width: 760px;
  align-self: stretch;
  padding-top: 74px;
}

.footer-info p {
  padding: 0;
  margin: 0;
}

p.footer-lets-be-friend {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

p.footer-discount {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 10px;
}

/* TODO убрать div */
div.catalog-columns {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

/* filter */
.filter {
  width: 261px;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter legend {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter label {
  color: #283136;
  font-weight: 400;
}

.filter label:hover {
  color: #283136;
}

.filter label:active {
  opacity: 0.3;
}

.filter .search {
  font-weight: 500;
  background-color: #eeeeee;
}

.filter .search:hover {
  font-weight: 500;
  background-color: #dfdfdf;
}

.filter .search:active {
  font-weight: 500;
  background-color: #d5d5d5;
}

.catalog-data-column {
  display: flex;
  flex-direction: column;
  width: 760px;
}

/* sorting */
.sorting {
  display: flex;
  margin-bottom: 54px;
}

.sorting h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-param {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 270px;
}

.sort-param-button {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.3;
  line-height: 18px;
}

.sort-param-button:hover {
  opacity: 0.6;
}

.sort-param-button:active,
.sort-param-active,
.sort-param-active:hover,
.sort-param-active:active {
  opacity: 1.0;
}

.catalog-sort-direction {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  margin-left: 48px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 40px;
}

.catalog-sort-direction-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-sort-direction-button polyline,
.catalog-sort-direction-button polygon {
  fill: #a6a6a6;
  opacity: 0.2;
}

.catalog-sort-direction-button:hover polyline,
.catalog-sort-direction-button:hover polygon {
  fill: #a6a6a6;
  opacity: 1.0;
}

.catalog-sort-direction-button:active polyline,
.catalog-sort-direction-button:active polygon {
  fill: #231F20;
  opacity: 1.0;
}

.catalog-sort-direction-active-button polygon,
.catalog-sort-direction-active-button polyline,
.catalog-sort-direction-active-button:hover polygon,
.catalog-sort-direction-active-button:hover polyline,
.catalog-sort-direction-active-button:active polygon,
.catalog-sort-direction-active-button:active polyline {
  fill: #231F20;
  opacity: 1.0;
}

/* catalog */
.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;

  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 36px;
  margin-bottom: 32px;
  width: 362px;
  border: 1px solid transparent;
}

.catalog-item::before {
  content: "";
  width: 360px;
  height: 40px;
  background-image: url("../img/icons/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:hover::before {
  opacity: 1.0;
}

.catalog-item-img {
  display: block;
}

.catalog-item-info {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0 43px;
  width: 360px;
  background-color: #eeeeee;
  flex-direction: column;
  align-items: center;

  /* временно */
  /*display: flex;*/
  /*background-color: transparent;*/
  /*background-image: url("../img/pixel/template-card.png");*/
  /*background-repeat: no-repeat;*/
  /*outline: 2px solid #d7373b;*/
}

.catalog-item:hover {
  /*width: 359px;*/
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
  border: 1px solid rgba(77, 77, 77, 0.1);
}

.catalog-item:hover .catalog-item-info {
  display: flex;
}

.catalog-item-info h3 {
  margin: 0;
  padding: 0;
}

.catalog-item-name {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  line-height: 30px;
}

.catalog-item-name:hover {
  color: #fb565a;
}

.catalog-item-name:active {
  color: #000000;
  opacity: 0.3;
}

.catalog-item-description {
  color: #666666;
  font-weight: 400;
  text-align: center;
  margin-bottom: 29px;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog-item-price-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #fb565a;
  width: 200px;
  height: 50px;
}

.catalog-item-price-button:hover {
  background-color: #e74246;
}

.catalog-item-price-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

/* pagination */
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.page-button {
  display: block;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  margin-right: 11px;

  border: 3px solid transparent;

  background-color: #eeeeee;

  width: 50px;
  height: 50px;
}

.page-button:hover {
  background-color: #dfdfdf;
}

.page-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.page-active-button,
.page-active-button:hover,
.page-active-button:active {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  box-shadow: none;
}

.next-page-button {
  width: 260px;
}

/* map */
.map {
  padding: 0;
  margin: 0;
  min-height: 496px;
}

.map .container {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  padding-top: 79px;
}

.map-img {
  display: block;
  position: relative;
}

.map-info {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 54px 50px 47px 50px;
  background-color: white;
  max-width: 319px;
  height: 308px;

  top: 134px;
  left: 140px;
}

.map .company-name {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.map .address,
.map .phone {
  margin: 0;
  padding: 0;
  color: #666666;
  font-weight: 400;
  line-height: 18px;
}

.map .address {
  margin-top: 27px;
}

.map .phone {
  margin-top: 18px;
  margin-bottom: 35px;
}

.map .write-us-button {
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  width: 219px;
}

.map .write-us-button:hover {
  background-color: #e74246;
}

.map .write-us-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.map-marker {
  position: absolute;
  width: 190px;
  height: 190px;
  top: 165px;
  left: 815px;
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
  background-position: -135px 0;
}

/* сетка */
.container {
  /*width: 1200px;*/
  /*margin: 0 auto;*/
  /*padding: 0 20px;*/

  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.main-header {
  display: flex;
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
