*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: content-box;
}

.content-box {
  box-sizing: content-box
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;

  color: #000000;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

h1.catalog-h1 {
  margin: 0;
  font-size: 55px;
  font-weight: 500;
  text-align: center;
  background-color: #eeeeee;
  padding-top: 64px;
  padding-bottom: 96px;

  /* временно для сетки */
  background-color: transparent;
}

.button {
  display: inline-block;
  border-style: none;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 0;
  border-radius: 3px;
  height: 50px;
}

/*.button:active {*/
/*  opacity: 0.3;*/
/*}*/

/* header */
.main-header {
  margin: 0;
  padding: 0;
  padding-top: 49px;
  background-color: #eeeeee;

  /* временно для сетки */
  background-color: transparent;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-right: 45px;
  margin-top: 17px;
  padding: 0;
  width: 438px;
  justify-content: space-between;
}

.main-header-logo {
  margin: 0;
  padding: 0;
  min-width: 160px;
  min-height: 65px;
  display: block;
}

.main-header-logo:hover {
   opacity: 0.8;
}

.main-header-logo:active {
   opacity: 0.3;
}

.main-navigation a {
  color: #000000;
  text-transform: uppercase;
}

.site-navigation-item a {
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.active-page {
  padding-bottom: 10px;
  border-bottom: 2px solid #fb565a;
}

.main-header-cart {
  position: relative;
  margin-top: 17px;
  padding-left: 40px;
}

.main-header-cart::before {
  content: "";
  position: absolute;
  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  top: 2px;
  left: 0;
  opacity: 0.3;
}

.write-us-popup {
  display: none;
}

/* slider */
.slider {
  position: relative;
  background-color: #eeeeee;

  /* впемееер */
  background-color: transparent;
}

.slide-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
  padding-top: 78px;
  padding-bottom: 80px;
}

.slide-title {
  margin: 0;
  padding: 0;
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 27px;
  line-height: 55px;
  max-width: 520px;
}

.slide-description {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 420px;
}

.slide-more-info-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  background-color: #fb565a;
  min-width: 240px;
  min-height: 50px;
  max-width: 400px;
}

.slide-more-info-button:hover,
.slide-more-info-button:focus {
  background-color: #e74246;
}

.slide-more-info-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.slide:nth-child(1) {
  display: block;
  /*background-image: url("../img/slider/slide1.png");*/
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slide:nth-child(2) {
  /*display: block;*/
  background-image: url("../img/slider/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

.slide:nth-child(3) {
  /*display: block;*/
  background-image: url("../img/slider/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 18px;
}

.slider-controls {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 86px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.slider-control-item {
  position: relative;
  cursor: pointer;
  padding: 18px;
}

.slider-control-item::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  left: 9px;
  top: 9px;
  border-radius: 50%;
  z-index: 1;
}

 /* services */
.services {
  background-color: #ffffff;
  border-bottom: 2px solid #eeeeee;
  padding: 80px 0;

  /* временно для сетки */
  min-height: 507px;
  /* временно для сетки */
  background-color: transparent;
}

.service-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  display: flex;

  /* временно для сетки */
  background-color: transparent;
}

.service {
  position: relative;
  width: 300px;
  margin-right: 100px;
  padding-top: 173px;
}

.service:last-child {
  margin-right: 0;
}

.service h3 {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.service p {
  color: #283136;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
  font-weight: 400;
}

.service-button {
  color: #ffffff;
  font-weight: 500;
  width: 160px;
}

.service-order-web-site::before {
  content: "";
  width: 300px;
  height: 146px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/services/web-sites.jpg");
  background-repeat: no-repeat;
}

.service-order-app::before {
  content: "";
  width: 300px;
  height: 146px;
  left: 0;
  top: 0;
  position: absolute;
  background-image: url("../img/services/apps.jpg");
  background-repeat: no-repeat;
}

.service-order-presentation::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 146px;
  left: 0;
  top: 0;
  background-image: url("../img/services/presentations.jpg");
  background-repeat: no-repeat;
}

.service-order-web-site-button {
  width: 160px;
  background-color: #fb565a;
}

.service-order-web-site-button:hover,
.service-order-web-site-button:focus {
  background-color: #e74246;
}

.service-order-web-site-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.service-order-app-button {
  background-color: #00ca74;
}

.service-order-app-button:hover,
.service-order-app-button:focus {
  background-color: #00bc6c;
}

.service-order-app-button:active {
   box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.service-order-presentation-button {
  background-color: #efc84a;
}

.service-order-presentation-button:hover,
.service-order-presentation-button:focus {
  background-color: #eab534;
}

.service-order-presentation-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

/* о нас и статистика */
.about-us-and-stats {
  display: flex;
  border-bottom: 2px solid #eeeeee;
}

/*  about us */
.about-us {
  background-color: #ffffff;
  width: 660px;
  padding: 78px 0 74px;

  /* временно для сетки */
  background-color: transparent;
}

.about-us ul {
  list-style: none;
}

.about-us-title {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-us-description {
  color: #283136;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 37px;
}

.about-us-our-services {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
}

.about-us-our-service-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us-our-service-list li {
  font-weight: 400;
  line-height: 24px;
  padding-top: 24px;
  padding-left: 36px;
}

/* statistics */

.statistics {
  position: relative;
  margin-left: auto;
  width: 360px;
  padding-top: 289px;
  padding-bottom: 74px;
}

.statistics::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 208px;
  top: 43px;
  left: 0;
  background-image: url("../img/stats.png");
  background-repeat: no-repeat;
}

.statistics-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.statistics-item {
  width: 120px;
  padding-top: 42px;
}

.statistics-title {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.stat-param-value {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  color: #000000;
  font-size: 45px;
  font-weight: 700;
}

.stat-param-value span {
  vertical-align: super;
  font-size: 24px;
}

.stat-param-name {
  padding: 0;
  margin: 0;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
}

/* clients */
.clients {
  border-bottom: 2px solid #eeeeee;

}

.client-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.clients img {
  opacity: 0.2;
  display: block;
}

.clients img:hover {
  opacity: 1.0;
}

.clients img:active {
  opacity: 0.1;
}

.client-item {
  position: relative;
  margin-right: 40px;
}

.client-item:nth-child(4n) {
  margin-right: 0;
}

.client-item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  left: 280px;
  top: 63px;
  background-color: #eeeeee;
}

.client-item:nth-child(4n)::after {
  content: "";
  width: 0;
}

/* footer */
.footer {
  display: flex;

}

.footer-social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 260px;
}

.footer-info {
  margin-left: 139px;
}

.footer-lets-be-friend {
  font-size: 36px;
  font-weight: 700;
}

.footer-discount {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

/* filter */
.filter {
  width: 261px;
}

.filter fieldset {
  border: none;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter legend {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter label {
  color: #283136;
  font-weight: 400;
}

.filter label:hover {
  color: #283136;
}

.filter label:active {
  opacity: 0.3;
}

.filter .search {
  font-weight: 500;
  background-color: #eeeeee;
}

.filter .search:hover {
  font-weight: 500;
  background-color: #dfdfdf;
}

.filter .search:active {
  font-weight: 500;
  background-color: #d5d5d5;
}

.catalog-data-column {
  display: flex;
  flex-direction: column;
  width: 760px;
}

/* sorting */
.sorting {
  display: flex;
}

.sorting h2 {
  font-size: 18px;
  font-weight: 700;
}

.sort-param {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 285px;
}

.sort-param a {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-param a:hover {
  opacity: 0.6;
}

.sort-param a:active,
.sort-param .active{
  opacity: 1.0;
}

.sort-direction {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

/* catalog */
.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  margin-right: 40px;
  margin-bottom: 33px;
  width: 360px;
  align-items: stretch;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-info {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-item-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-item-name:hover {
  color: #fb565a;
}

.catalog-item-name:active {
  color: #000000;
  opacity: 0.3;
}

.catalog-item-info p {
  color: #666666;
  font-weight: 400;
}

.catalog-item-info .price-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #fb565a;
  width: 200px;
  height: 50px;
}

.catalog-item-info .price-button:hover {
  background-color: #e74246;
}

.catalog-item-info .price-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

/* pagination */
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.pagination .button {
  font-weight: 500;
  background-color: #eeeeee;
}

.pagination .button:hover {
  background-color: #dfdfdf;
}

.pagination .button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination .active,
.pagination .active:hover {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

/* map */
.map {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 496px;
}

.map-img {
  display: block;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.map-info {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 54px 50px 47px 50px;
  background-color: white;
  width: 319px;
  height: 308px;
  top: 134px;

  background-color: transparent;
  box-shadow: inset 0 0 0 2px #00bc6c;
}

.map .company-name {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.map .address,
.map .phone {
  margin: 0;
  padding: 0;
  color: #666666;
  font-weight: 400;
  line-height: 18px;
}

.map .address {
  margin-top: 27px;
}

.map .phone {
  margin-top: 18px;
  margin-bottom: 35px;
}

.map .write-us-button {
  min-width: 219px;
  min-height: 50px;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
}

.map .write-us-button:hover {
  background-color: #e74246;
}

.map .write-us-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.map-marker {
  position: absolute;
  width: 190px;
  height: 190px;
  top: 169px;
  left: 820px;
}

/* сетка */

.container {
  /*width: 1200px;*/
  /*margin: 0 auto;*/
  /*padding: 0 20px;*/

  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.main-header {
  display: flex;
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
